## Завдання 8

Використовуючи засоби Python та наш датасет, дайте відповідь на наступні питання:
1. Яка загальна кількість хворих зафіксовано на Філіппінах на 30.08.2020?
2. Коли був зафіксований найбільший приріст хворих за тиждень в Україні?
3. Порахуйте, чи відповідають дані по загальній кількості випадків за 21.08.2020 по світу сумі випадків по країнах за цю дату?
4. Запишіть в текстовий файл найбільший показник по випадкам по кожній з країн. Н-д: Ukraine =)

In [174]:
import pandas as pd
from datetime import datetime

In [175]:
covid_data = pd.read_csv("owid-covid-data.csv")
covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220793,ZWE,Africa,Zimbabwe,2022-09-28,257409.0,33.0,36.143,5602.0,3.0,0.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
220794,ZWE,Africa,Zimbabwe,2022-09-29,257409.0,0.0,21.429,5602.0,0.0,0.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
220795,ZWE,Africa,Zimbabwe,2022-09-30,257465.0,56.0,25.143,5602.0,0.0,0.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
220796,ZWE,Africa,Zimbabwe,2022-10-01,257465.0,0.0,21.000,5602.0,0.0,0.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
220797,ZWE,Africa,Zimbabwe,2022-10-02,257517.0,52.0,25.286,5602.0,0.0,0.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [176]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220798 entries, 0 to 220797
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    220798 non-null  object
 1   continent                                   208099 non-null  object
 2   location                                    220798 non-null  object
 3   date                                        220798 non-null  object
 4   total_cases                                 211839 non-null  float64
 5   new_cases                                   211512 non-null  float64
 6   new_cases_smoothed                          210316 non-null  float64
 7   total_deaths                                192727 non-null  float64
 8   new_deaths                                  192639 non-null  float64
 9   new_deaths_smoothed                         191459 non-null  float64
 10  total_cases_per_million                     210870 non-null  float64
 11  new_cases_per_million                       210543 non-null  float64
 12  new_cases_smoothed_per_million              209352 non-null  float64
 13  total_deaths_per_million                    191771 non-null  float64
 14  new_deaths_per_million                      191683 non-null  float64
 15  new_deaths_smoothed_per_million             190508 non-null  float64
 16  reproduction_rate                           166329 non-null  float64
 17  icu_patients                                28076 non-null   float64
 18  icu_patients_per_million                    28076 non-null   float64
 19  hosp_patients                               30833 non-null   float64
 20  hosp_patients_per_million                   30833 non-null   float64
 21  weekly_icu_admissions                       7131 non-null    float64
 22  weekly_icu_admissions_per_million           7131 non-null    float64
 23  weekly_hosp_admissions                      14196 non-null   float64
 24  weekly_hosp_admissions_per_million          14196 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          61801 non-null   float64
 35  people_vaccinated                           59093 non-null   float64
 36  people_fully_vaccinated                     56333 non-null   float64
 37  total_boosters                              33005 non-null   float64
 38  new_vaccinations                            50840 non-null   float64
 39  new_vaccinations_smoothed                   127316 non-null  float64
 40  total_vaccinations_per_hundred              61801 non-null   float64
 41  people_vaccinated_per_hundred               59093 non-null   float64
 42  people_fully_vaccinated_per_hundred         56333 non-null   float64
 43  total_boosters_per_hundred                  33005 non-null   float64
 44  new_vaccinations_smoothed_per_million       127316 non-null  float64
 45  new_people_vaccinated_smoothed              126737 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  126737 non-null  float64
 47  stringency_index                            166426 non-null  float64
 48  population                                  219512 non-null  float64
 49  population_density                          196084 non-null  float64
 50  median_age                                  181445 non-null  float64
 51  aged_65_older                               179528 non-null  float64
 52  aged_70_older                               180495 non-null  float64
 53  gdp_per_capita                              180789 non-null  float64
 54  extreme_poverty                             117912 non-null  float64
 55  cardiovasc_death_rate                       180964 non-null  float64
 56  diabetes_prevalence                         190237 non-null  float64
 57  female_smokers                              137089 non-null  float64
 58  male_smokers                                135212 non-null  float64
 59  handwashing_facilities                      88972 non-null   float64
 60  hospital_beds_per_thousand                  161001 non-null  float64
 61  life_expectancy                             206297 non-null  float64
 62  human_development_index                     176471 non-null  float64
 63  excess_mortality_cumulative_absolute        7460 non-null    float64
 64  excess_mortality_cumulative                 7460 non-null    float64
 65  excess_mortality                            7507 non-null    float64
 66  excess_mortality_cumulative_per_million     7460 non-null    float64
dtypes: float64(62), object(5)
memory usage: 112.9+ MB

In [177]:
#перевела дату у формат дейттайм для зручності у подальшій роботі(наприклад, для завд № 3)
covid_data['date'] = pd.to_datetime(covid_data.date, format='%Y-%m-%d')

In [178]:
# перевіримо
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220798 entries, 0 to 220797
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    220798 non-null  object
 1   continent                                   208099 non-null  object
 2   location                                    220798 non-null  object
 3   date                                        220798 non-null  datetime64[ns]
 4   total_cases                                 211839 non-null  float64
 5   new_cases                                   211512 non-null  float64
 6   new_cases_smoothed                          210316 non-null  float64
 7   total_deaths                                192727 non-null  float64
 8   new_deaths                                  192639 non-null  float64
 9   new_deaths_smoothed                         191459 non-null  float64
 10  total_cases_per_million                     210870 non-null  float64
 11  new_cases_per_million                       210543 non-null  float64
 12  new_cases_smoothed_per_million              209352 non-null  float64
 13  total_deaths_per_million                    191771 non-null  float64
 14  new_deaths_per_million                      191683 non-null  float64
 15  new_deaths_smoothed_per_million             190508 non-null  float64
 16  reproduction_rate                           166329 non-null  float64
 17  icu_patients                                28076 non-null   float64
 18  icu_patients_per_million                    28076 non-null   float64
 19  hosp_patients                               30833 non-null   float64
 20  hosp_patients_per_million                   30833 non-null   float64
 21  weekly_icu_admissions                       7131 non-null    float64
 22  weekly_icu_admissions_per_million           7131 non-null    float64
 23  weekly_hosp_admissions                      14196 non-null   float64
 24  weekly_hosp_admissions_per_million          14196 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          61801 non-null   float64
 35  people_vaccinated                           59093 non-null   float64
 36  people_fully_vaccinated                     56333 non-null   float64
 37  total_boosters                              33005 non-null   float64
 38  new_vaccinations                            50840 non-null   float64
 39  new_vaccinations_smoothed                   127316 non-null  float64
 40  total_vaccinations_per_hundred              61801 non-null   float64
 41  people_vaccinated_per_hundred               59093 non-null   float64
 42  people_fully_vaccinated_per_hundred         56333 non-null   float64
 43  total_boosters_per_hundred                  33005 non-null   float64
 44  new_vaccinations_smoothed_per_million       127316 non-null  float64
 45  new_people_vaccinated_smoothed              126737 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  126737 non-null  float64
 47  stringency_index                            166426 non-null  float64
 48  population                                  219512 non-null  float64
 49  population_density                          196084 non-null  float64
 50  median_age                                  181445 non-null  float64
 51  aged_65_older                               179528 non-null  float64
 52  aged_70_older                               180495 non-null  float64
 53  gdp_per_capita                              180789 non-null  float64
 54  extreme_poverty                             117912 non-null  float64
 55  cardiovasc_death_rate                       180964 non-null  float64
 56  diabetes_prevalence                         190237 non-null  float64
 57  female_smokers                              137089 non-null  float64
 58  male_smokers                                135212 non-null  float64
 59  handwashing_facilities                      88972 non-null   float64
 60  hospital_beds_per_thousand                  161001 non-null  float64
 61  life_expectancy                             206297 non-null  float64
 62  human_development_index                     176471 non-null  float64
 63  excess_mortality_cumulative_absolute        7460 non-null    float64
 64  excess_mortality_cumulative                 7460 non-null    float64
 65  excess_mortality                            7507 non-null    float64
 66  excess_mortality_cumulative_per_million     7460 non-null    float64
dtypes: datetime64[ns](1), float64(62), object(4)
memory usage: 112.9+ MB

#### `1. Яка загальна кількість хворих зафіксована на Філіппінах на 30.08.2020? `

In [179]:
covid_data_philippines = covid_data[(covid_data["date"] == "2020-08-30") & (covid_data["location"] == "Philippines")]
covid_data_philippines

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
158089,PHL,Asia,Philippines,2020-08-30,217396.0,4265.0,3970.714,3520.0,101.0,74.571,...,7.8,40.8,78.463,1.0,71.23,0.718,NaN,NaN,NaN,NaN

In [180]:
total_cases_philippines = covid_data_philippines["total_cases"].to_list()
total_cases_philippines

[217396.0]

#### `2. Коли був зафіксований найбільший приріст хворих за тиждень в Україні? `

In [181]:
covid_data_ukraine = covid_data.loc[covid_data.location == 'Ukraine', ['location', 'date', 'total_cases', 'new_cases']]
covid_data_ukraine

       location       date  total_cases  new_cases
205233  Ukraine 2020-03-03          1.0        1.0
205234  Ukraine 2020-03-04          1.0        0.0
205235  Ukraine 2020-03-05          1.0        0.0
205236  Ukraine 2020-03-06          1.0        0.0
205237  Ukraine 2020-03-07          1.0        0.0
...         ...        ...          ...        ...
206172  Ukraine 2022-09-28    5433127.0      287.0
206173  Ukraine 2022-09-29    5477614.0    44487.0
206174  Ukraine 2022-09-30    5478025.0      411.0
206175  Ukraine 2022-10-01    5478336.0      311.0
206176  Ukraine 2022-10-02    5478645.0      309.0

[944 rows x 4 columns]

In [182]:
# для того, щоб дізнатися приріст хворих за тиждень, додаю колонку "номер тижня", за якою потім сгрупую
covid_data_ukraine['week'] = covid_data_ukraine['date'].dt.week

C:\Users\nasty\AppData\Local\Temp\ipykernel_6028\1297511217.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  covid_data_ukraine['week'] = covid_data_ukraine['date'].dt.week

In [183]:
covid_data_ukraine.head()

       location       date  total_cases  new_cases  week
205233  Ukraine 2020-03-03          1.0        1.0    10
205234  Ukraine 2020-03-04          1.0        0.0    10
205235  Ukraine 2020-03-05          1.0        0.0    10
205236  Ukraine 2020-03-06          1.0        0.0    10
205237  Ukraine 2020-03-07          1.0        0.0    10

In [184]:
# групую за номером тижня і датою(бо дані за два роки), вивожу суму нових випадків за тиждень, сортую від більшого, до меншого
covid_data_ukraine_max = covid_data_ukraine.groupby(['week', 'date']).agg({'new_cases': 'sum'}).sort_values('new_cases', ascending=False)
covid_data_ukraine_max

                 new_cases
week date
5    2022-02-04    45022.0
39   2022-09-29    44487.0
5    2022-02-05    43836.0
6    2022-02-10    43477.0
     2022-02-11    42967.0
...                    ...
11   2020-03-09        0.0
10   2020-03-08        0.0
     2020-03-07        0.0
     2020-03-06        0.0
21   2022-05-25        0.0

[944 rows x 1 columns]

Бачимо, що найбільший приріст хворих був за 5 тиждень 2022 року

In [185]:
# виведемо цей тиждень
covid_data_ukraine['year'] = covid_data_ukraine['date'].dt.strftime('%Y')

In [197]:
covid_data_ukraine.loc[(covid_data_ukraine['week'] == 5) & (covid_data_ukraine['year'] == '2022')]

       location       date  total_cases  new_cases  week  year
205932  Ukraine 2022-01-31    4255206.0    23063.0     5  2022
205933  Ukraine 2022-02-01    4287117.0    31911.0     5  2022
205934  Ukraine 2022-02-02    4323009.0    35892.0     5  2022
205935  Ukraine 2022-02-03    4363754.0    40745.0     5  2022
205936  Ukraine 2022-02-04    4408776.0    45022.0     5  2022
205937  Ukraine 2022-02-05    4452612.0    43836.0     5  2022
205938  Ukraine 2022-02-06    4481918.0    29306.0     5  2022

#### `3. Порахуйте, чи відповідають дані по загальній кількості випадків за 21.08.2020 по світу сумі випадків по країнах за цю дату?`

In [207]:
covid_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [221]:
covid_data_21_08_2020 = covid_data.loc[covid_data.date == "2020-08-20"].groupby("location").agg({'total_cases' : 'sum'})
covid_data_21_08_2020

             total_cases
location
Afghanistan      37845.0
Africa         1158260.0
Albania           7967.0
Algeria          40258.0
Andorra           1024.0
...                  ...
Vietnam           1007.0
World         22736786.0
Yemen             1899.0
Zambia           10372.0
Zimbabwe          5745.0

[223 rows x 1 columns]

In [222]:
covid_data_21_08_2020.total_cases.sum()

92649745.0

#### `4. Запишіть в текстовий файл найбільший показник по випадкам по кожній з країн.`

In [ ]:
covid_data_text = covid_data.groupby("location").agg({"total_cases": "max"})
# pd.options.display.max_rows = None
covid_data_text

                                  total_cases
location
Afghanistan                          199386.0
Africa                             12358031.0
Albania                              332285.0
Algeria                              270679.0
Andorra                               46227.0
Angola                               103131.0
Anguilla                               3865.0
Antigua and Barbuda                    9098.0
Argentina                           9711355.0
Armenia                              442875.0
Aruba                                 42970.0
Asia                              185442643.0
Australia                          10241739.0
Austria                             5154447.0
Azerbaijan                           821635.0
Bahamas                               37309.0
Bahrain                              681210.0
Bangladesh                          2026212.0
Barbados                             102580.0
Belarus                              994037.0
Belgium                             4544505.0
Belize                                68854.0
Benin                                 27638.0
Bermuda                               18154.0
Bhutan                                61969.0
Bolivia                             1108347.0
Bonaire Sint Eustatius and Saba       11345.0
Bosnia and Herzegovina               398750.0
Botswana                             326308.0
Brazil                             34672524.0
British Virgin Islands                 7305.0
Brunei                               227756.0
Bulgaria                            1259948.0
Burkina Faso                          21631.0
Burundi                               50193.0
Cambodia                             137885.0
Cameroon                             121652.0
Canada                              4280759.0
Cape Verde                            62376.0
Cayman Islands                        30661.0
Central African Republic              14913.0
Chad                                   7583.0
Chile                               4630935.0
China                                992802.0
Colombia                            6307372.0
Comoros                                8471.0
Congo                                 24837.0
Cook Islands                           6389.0
Costa Rica                          1117989.0
Cote d'Ivoire                         87282.0
Croatia                             1233728.0
Cuba                                1111200.0
Curacao                               45368.0
Cyprus                               587994.0
Czechia                             4109072.0
Democratic Republic of Congo          92893.0
Denmark                             3299534.0
Djibouti                              15690.0
Dominica                              15747.0
Dominican Republic                   645952.0
Ecuador                             1005521.0
Egypt                                515645.0
El Salvador                          201785.0
Equatorial Guinea                     17012.0
Eritrea                               10170.0
Estonia                              601993.0
Eswatini                              73390.0
Ethiopia                             493588.0
Europe                            229486627.0
European Union                    168046480.0
Faeroe Islands                        34658.0
Falkland Islands                       1930.0
Fiji                                  68242.0
Finland                             1292940.0
France                             35453449.0
French Polynesia                      76599.0
Gabon                                 48713.0
Gambia                                12508.0
Georgia                             1780691.0
Germany                            33386229.0
Ghana                                169385.0
Gibraltar                             20095.0
Greece                              4920192.0
Greenland                             11971.0
Grenada                               19536.0
Guam                                      0.0
Guatemala                           1125205.0
Guernsey                                  0.0
Guinea                                37652.0
Guinea-Bissau                          8796.0
Guyana                                71349.0
Haiti                                 33756.0
High income                       381584663.0
Honduras                             456391.0
Hong Kong                           1772880.0
Hungary                             2094142.0
Iceland                              205637.0
India                              44597498.0
Indonesia                           6434585.0
International                           721.0
Iran                                7549586.0
Iraq                                2459982.0
Ireland                             1663653.0
Isle of Man                           38008.0
Israel                              4663506.0
Italy                              22529252.0
Jamaica                              151931.0
Japan                              21147468.0
Jersey                                    0.0
Jordan                              1746997.0
Kazakhstan                          1483609.0
Kenya                                338445.0
Kiribati                               3430.0
Kosovo                               272078.0
Kuwait                               658520.0
Kyrgyzstan                           206083.0
Laos                                 215880.0
Latvia                               930254.0
Lebanon                             1216025.0
Lesotho                               34490.0
Liberia                                7961.0
Libya                                507004.0
Liechtenstein                         19713.0
Lithuania                           1251328.0
Low income                          2244239.0
Lower middle income                96103250.0
Luxembourg                           291758.0
Macao                                   793.0
Madagascar                            66684.0
Malawi                                88029.0
Malaysia                            4845757.0
Maldives                             185042.0
Mali                                  32683.0
Malta                                114719.0
Marshall Islands                      15305.0
Mauritania                            62826.0
Mauritius                            262648.0
Mexico                              7090330.0
Micronesia (country)                  10814.0
Moldova                              589437.0
Monaco                                14622.0
Mongolia                             982864.0
Montenegro                           280488.0
Montserrat                             1403.0
Morocco                             1264972.0
Mozambique                           230312.0
Myanmar                              622802.0
Namibia                              169253.0
Nauru                                  4611.0
Nepal                                999759.0
Netherlands                         8441602.0
New Caledonia                         74288.0
New Zealand                         1789505.0
Nicaragua                             15070.0
Niger                                  9405.0
Nigeria                              265431.0
Niue                                      0.0
North America                     114279434.0
North Korea                               1.0
North Macedonia                      342961.0
Northern Cyprus                           0.0
Northern Mariana Islands                  0.0
Norway                              1462456.0
Oceania                            12407777.0
Oman                                 398424.0
Pakistan                            1572598.0
Palau                                  5460.0
Palestine                            702768.0
Panama                               986866.0
Papua New Guinea                      44997.0
Paraguay                             716543.0
Peru                                4145301.0
Philippines                         3953886.0
Pitcairn                                  0.0
Poland                              6297431.0
Portugal                            5493540.0
Puerto Rico                               0.0
Qatar                                452533.0
Romania                             3269941.0
Russia                             20747599.0
Rwanda                               132521.0
Saint Helena                           1656.0
Saint Kitts and Nevis                  6544.0
Saint Lucia                           29408.0
Saint Pierre and Miquelon              3188.0
Saint Vincent and the Grenadines       9448.0
Samoa                                 15941.0
San Marino                            20793.0
Sao Tome and Principe                  6230.0
Saudi Arabia                         816664.0
Senegal                               88398.0
Serbia                              2364814.0
Seychelles                            47141.0
Sierra Leone                           7751.0
Singapore                           1914280.0
Sint Maarten (Dutch part)                 0.0
Slovakia                            2626595.0
Slovenia                            1186809.0
Solomon Islands                       21544.0
Somalia                               27214.0
South Africa                        4019077.0
South America                      63982579.0
South Korea                        24831761.0
South Sudan                           17823.0
Spain                              13422984.0
Sri Lanka                            670790.0
Sudan                                 63285.0
Suriname                              81106.0
Sweden                              2588441.0
Switzerland                         4103959.0
Syria                                 57309.0
Taiwan                              6547708.0
Tajikistan                            17786.0
Tanzania                              39440.0
Thailand                            4682132.0
Timor                                 23257.0
Togo                                  39086.0
Tokelau                                   0.0
Tonga                                 16182.0
Trinidad and Tobago                  183181.0
Tunisia                             1145686.0
Turkey                             16873793.0
Turkmenistan                              0.0
Turks and Caicos Islands               6380.0
Tuvalu                                   20.0
Uganda                               169396.0
Ukraine                             5478645.0
United Arab Emirates                1028333.0
United Kingdom                     23672856.0
United States                      96397885.0
United States Virgin Islands              0.0
Upper middle income               137994373.0
Uruguay                              985422.0
Uzbekistan                           244218.0
Vanuatu                               11950.0
Vatican                                  29.0
Venezuela                            544874.0
Vietnam                            11480518.0
Wallis and Futuna                       761.0
Western Sahara                            0.0
World                             617957812.0
Yemen                                 11935.0
Zambia                               333549.0
Zimbabwe                             257517.0

In [ ]:
# with open("8.txt", "w") as t:
#     print(covid_data_text, file=t)

In [ ]:
covid_data_text.to_txt()